@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  @apply bg-okan-50 text-slate-900 font-sans antialiased overflow-x-hidden;
}

/* Scrollbar Personalizada OKAN */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-okan-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-okan-200 rounded-full border-2 border-okan-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-okan-500;
}

::selection {
  @apply bg-okan-500 text-white;
}
