@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-moreira-50 text-slate-900 font-sans antialiased overflow-x-hidden;
}

/* --- Scrollbar Personalizada (Toque Premium) --- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-moreira-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-moreira-200 rounded-full border-2 border-moreira-50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-moreira-500;
}

/* --- Seleção de Texto (Detalhe Sutil) --- */
::selection {
  @apply bg-moreira-500 text-white;
}
